@page "/sendmail"
@using Volo.Abp.SettingManagement.Localization
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@inject AbpBlazorMessageLocalizerHelper<AbpSettingManagementResource> LH


 @if (EmailSettings != null)
{
    <Form>      
        <Row>
            <Column>        
               <Button style="margin: 0.25rem" Color="Color.Primary" Clicked="OpenSendTestEmailModalAsync">@L["SendTestEmail"]</Button>             
            </Column>

        </Row>
    </Form>

        <Modal @ref="SendTestEmailModal">
            <ModalContent Centered="true">
                <Form>
                    <ModalHeader>
                        <ModalTitle>@L["SendTestEmail"]</ModalTitle>
                        <CloseButton Clicked="CloseSendTestEmailModalAsync" />
                    </ModalHeader>
                    <ModalBody>
                        <Validations @ref="@EmailSettingTestValidation" Model="@SendTestEmailInput" ValidateOnLoad="false">
                           @* <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["SenderEmailAddress"]</FieldLabel>
                                    <TextEdit @bind-Text="@SendTestEmailInput.SenderEmailAddress" Autofocus="true">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>*@
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["TargetEmailAddress"]</FieldLabel>
                                    <TextEdit @bind-Text="@SendTestEmailInput.TargetEmailAddress">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Subject"]</FieldLabel>
                                    <TextEdit @bind-Text="@SendTestEmailInput.Subject">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Validation MessageLocalizer="@LH.Localize">
                                <Field>
                                    <FieldLabel>@L["Body"]</FieldLabel>
                                    <TextEdit @bind-Text="@SendTestEmailInput.Body">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                        </Validations>
                    </ModalBody>
                    <ModalFooter>
                        <Button Color="Color.Secondary" Clicked="CloseSendTestEmailModalAsync">@L["Cancel"]</Button>
                        <Button Color="Color.Primary" Clicked="SendTestEmailAsync">@L["Send"]</Button>
                    </ModalFooter>
                </Form>
            </ModalContent>
        </Modal>
    
}